APP_BASE_URL=https://<your-tenant>.my.automationanywhere.digital
API_BASE_URL=https://<your-tenant>.my.automationanywhere.digital/api
AA_EMAIL=your-personal-email@example.com
AA_PASSWORD=your-password
AUTH_ENDPOINT=/v1/authentication
LEARNING_INSTANCE_ENDPOINT=/v2/learninginstances
