APP_BASE_URL=https://community.cloud.automationanywhere.digital
API_BASE_URL=https://community.cloud.automationanywhere.digital
AA_EMAIL=your-community-edition-email@example.com
AA_PASSWORD=your-password
